
.search-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  align-items: center;
}

.searchHeader{
  padding:3rem 2rem 2rem;
  
}
.search-heading {
  padding: 1rem;
  font-size: 1rem;
}
.search-results{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  min-height: 100vh;
}
.button-add-results-container{
  display: flex;
  flex-direction: row;
  max-height: 2rem;
  gap: 1rem;
  margin-left: auto;

}

.button-add-results-container button {
  width: fit-content; 
  height: 2rem; 
  font-size: 0.7rem; 
  font-weight: 700;
  padding: 0.3rem 1rem; 
  border-radius: 20px;
  background-color: #000000;
  border: 1px solid white;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.track-img-name-container{
  display:flex;
  justify-items: center;
  align-items: center;
  gap: 2rem
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.search-bar input {
  padding: 0.75rem 1rem;
  border-radius: 25px;
  border: 2px solid #ddd;
  background-color: var(--searchBar-color);
  color: var(--primary-text-color);
  font-size: var(--normal-text-size);
  width: 100%;
  max-width: 400px;
  transition: all 0.3s ease;
}

.search-bar input:focus {
  outline: none;
  border-color: var(--highlight-text-color);
  background-color: #444;
}

.search-bar input::placeholder {
  color: var(--secondary-text-color);
}


.search-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.search-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.single-track-container {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  width:100%;
  gap: 1.5rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.093);
  transition: all 500ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  will-change: transform;
  min-width: var(--container-width);
  max-width: var(--container-width);
}

@media screen and (min-width: 1200px) {
  :root {
      --container-width: 900px;
  }
}

@media screen and (max-width: 992px) {
  :root {
      --container-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  :root {
      --container-width: 500px;
  }
  .single-track-container {
  }
}

@media screen and (max-width: 576px) {
  :root {
      --container-width: 300px;
  }
}

.single-track-container:hover {
  color: var(--primary-text-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    background-color:#333333;
}

.single-track-container:active {
  background-color: var(--button-hover-color);
  box-shadow: none;
  transform: translateY(0);
}

.single-track-container:focus {
  border-color: rgba(0, 0, 0, 0.985);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: var(--secondary-text-color);
}


.track-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.track-image {
  width: 4rem;
  height: 4rem;
  border-radius: 4px;
}

.track-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.track-name {
  font-size: 1.5rem;
  color: var(--primary-text-color);
  text-decoration: none;
  text-decoration: none;
  

}

.single-track-container a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.error-message {
  color: red;
  font-size: 1.1rem;
}

.filter-buttons button{
  color:white;
  width: fit-content; 
  height: 2rem; 
  font-size: 0.7rem; 
  font-weight: 700;
  padding: 0.3rem 1rem; 
  border-radius: 20px;
  background-color: #000000;
  border: 1px solid white;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

@media (max-width: 600px) {

  .search-bar-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .search-bar input {
    max-width: 90%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }


  .search-results {
    padding: 0.5rem;
  }

  .single-track-container {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }


  .track-info {
    flex-direction: column;
    gap: 0.5rem;
  }

  .track-image {
    width: 3rem;
    height: 3rem;
  }

  .track-name {
    font-size: 1.4rem;
  }

  .track-details {
    align-items: center;
    text-align: center;
  }

  .error-message {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {

  .search-bar-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .search-bar input {
    max-width: 80%;
    padding: 0.75rem;
  }


  .single-track-container {
    gap: 1.5rem;
    padding: 1rem;
  }

  .track-info {
    flex-direction: column;
    gap: 1rem;
  }

  .track-image {
    width: 3.5rem;
    height: 3.5rem;
  }

  .track-name {
    font-size: 1.6rem;
  }
}
.searchpage-album-container {
  width: 100%;
}
