.search-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  align-items: center;
}
.search-header{
  padding:3rem 2rem 2rem;
  
}
.search-heading {
  padding: 1rem;
  font-size: 1rem;
}
.search-results{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center; 
  align-items: center; 
  justify-content: center; 
  align-items: center; 
  width: 100%;
}
.search-button-add-results-container{
  display: flex;
  flex-direction: row;
  max-height: 2rem;
  gap: 1rem;
  margin-left: auto;

}

.search-button-add-results-container button {
  width: fit-content; 
  height: 2rem; 
  font-size: 0.7rem; 
  font-weight: 700;
  padding: 0.3rem 1rem; 
  border-radius: 20px;
  background-color: #000000;
  border: 1px solid white;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  margin-left: 0;
}

.search-track-img-name-container{
  display:flex;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  
}

.search-button-add-results-container{
  display: flex;
  flex-direction: row;
  max-height: 2rem;
  gap: 1rem;
  margin-left: auto;

}

.search-button-add-results-container button {
  width: fit-content; 
  height: 2rem; 
  font-size: 0.7rem; 
  font-weight: 700;
  padding: 0.3rem 1rem; 
  border-radius: 20px;
  background-color: #000000;
  border: 1px solid white;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.track-img-name-container {
  display: grid;
  grid-template-columns: 56px 1fr; /* 3.5rem = 56px */
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.search-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search-single-track-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
  width: 100%;
  min-width: var(--container-width);
  max-width: var(--container-width);
}




.search-single-track-container:hover {
  color: var(--primary-text-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    background-color:#333333;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    background-color:#333333;
}

.search-single-track-container:active {
  background-color: var(--button-hover-color);
  box-shadow: none;
  transform: translateY(0);
}

.search-single-track-container:focus {
  border-color: rgba(0, 0, 0, 0.985);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: var(--secondary-text-color);
}
.search-track-info {
  width: 4rem;
  flex-shrink: 0;
}

.search-track-image {
  width: 4rem;
  height: 4rem;
  border-radius: 4px;
  object-fit: cover;
}

.search-track-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.search-track-name {
  font-size: 1.5rem;
  font-size: 1.5rem;
  color: var(--primary-text-color);
  text-decoration: none;
  text-decoration: none;
  text-decoration: none;
}

.search-single-track-container a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.search-single-track-container a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.error-message {
  color: red;
  font-size: 1.1rem;
}

.search-filter-buttons button{
  color:white;
  width: fit-content; 
  height: 2rem; 
  font-size: 0.7rem; 
  font-weight: 700;
  padding: 0.3rem 1rem; 
  border-radius: 20px;
  background-color: #000000;
  border: 1px solid white;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
.search-artist-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
  width: 100%;
  min-width: var(--container-width);
  max-width: var(--container-width);
  transition: all 500ms cubic-bezier(.23, 1, 0.32, 1);
  cursor: pointer;
}

.search-artist-container:hover {
  color: var(--primary-text-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  background-color: #333333;
}

.search-artist-info {
  width: 4rem;
  flex-shrink: 0;
}

.search-artist-image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.search-artist-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.search-artist-name {
  font-size: 1.5rem;
  color: var(--primary-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-artist-followers {
  font-size: 0.9rem;
}

.search-artist-type {
  font-size: 0.8rem;
  text-transform: capitalize;

}.search-album-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
  width: 100%;
  min-width: var(--container-width);
  max-width: var(--container-width);
  transition: all 500ms cubic-bezier(.23, 1, 0.32, 1);
  cursor: pointer;
}

.search-album-container:hover {
  color: var(--primary-text-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  background-color: #333333;
}

.search-album-info {
  width: 4rem;
  flex-shrink: 0;
}

.search-album-image {
  width: 4rem;
  height: 4rem;
  border-radius: 4px;
  object-fit: cover;
}

.search-album-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.search-album-name {
  font-size: 1.5rem;
  color: var(--primary-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-album-artist {
  font-size: 0.9rem;
}

.search-album-type {
  font-size: 0.8rem;
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  .search-album-container {
      padding: 0.8rem;
      gap: 1rem;
  }

  .search-album-name {
      font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .search-single-track-container {
    display: grid;
    grid-template-columns: 4rem 1fr auto;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.search-track-img-name-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-track-info {
    width: 4rem;
    flex-shrink: 0;
}

.search-track-image {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.search-track-name {
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100vw - 12rem);
}

.search-button-add-results-container {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}

}
@media (max-width: 600px) {
  .search-results {
      padding: 0;
      width: 100%;
  }
    /* Shared container styles */
    .search-single-track-container
    {
        display: grid;
        grid-template-columns: 20rem 1fr auto;
        align-items: center;
        gap: 0.5rem;
        padding: 0.8rem 0.4rem;
        width: 100%;
        min-width: unset;
        max-width: 100%;
        margin: 0;
    }
    .search-artist-container,
    .search-album-container {
      margin: 10px;
    padding-left: 100px;
    }
   /* Shared info container styles */
   .search-track-img-name-container,
   .search-album-info,
   .search-artist-info {
       width: 100%;
       gap: 0.5rem;
       padding-left: 0;
   }
   .search-track-info,
    .search-album-info,
    .search-artist-info {
        width: 3rem;
        min-width: 3rem;
    }

      /* Shared image styles */
      .search-track-image,
      .search-album-image,
      .search-artist-image {
          width: 3rem;
          height: 3rem;
          object-fit: cover;
      }
  
}

@media screen and (min-width: 1200px) {
  :root {
      --container-width: 800px;
  }
}

@media screen and (max-width: 992px) {
  :root {
      --container-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  :root {
      --container-width: 500px;
  }
}

@media screen and (max-width: 576px) {
  :root {
      --container-width: 300px;

  }
}
