.sideBar {
  grid-column: 1;
  grid-row: 2/3;
  justify-content: center;
  background-image: url("../../../../public/assets/sideBar-bakcground.png");
  background-size: cover;
  background-position: center center;
  border-radius: 0px 20px 0px 0px;
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: #000000;
  transition: transform 0.6s ease-in-out;
  overflow-x: hidden;  
}

.sideBar.open {
  display: block;
  transform: translateX(0);
}

.sideBar.closed {
  transform: translateX(-100%);
}


.title-sidebar-container {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0rem;
}

.sideBar-title {
  font-size: var(--subtitle-size);
  font-weight: 400;
  letter-spacing: 2px;
}


.toggle-sidebar {
  display: flex;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 2000;
  border: none;
  background-color: var(--secondary-background-color);
  color: rgb(0, 0, 0);
  width: 50px;
  height: 80%;
  border-radius: 0px 25px 25px 0px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.toggle-sidebar.open {
  background-color: var(--secondary-background-color);
  color: rgb(0, 0, 0);
  width: 40px;
  height: 40px;
  top: 70px;
  left: 21%;
  transform: translateX(0);
  transition: left 0.7s ease-in-out, transform 0.3s ease;
  border-radius: 50%
}


.toggle-sidebar:hover {
  background-color: #8e7ed8;
}

.toggle-icon {
  width: 20px;
  height: 20px;
  font-size: 2rem;
  align-self: center;
  justify-self:center;
  display: flex;                  
  justify-content: center;        
  align-items: center;          
  font-size: 2rem;             
  width: 100%;                   
  height: 100%;   
}


@media (max-width: 600px) {
  .sideBar {
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
    overflow-x: hidden;  
  }

  .toggle-sidebar {
    display: flex;
    color: white;
    top: 80px;
    left: 0;
    width: 30px;
    height: 85%;
  }

  .toggle-sidebar.open {
    width: 40px;
    height: 40px;
    top: 59px;
    left: 20%;
 
  }

  .title-sidebar-container {
    gap: 1rem;
    padding: 1rem 0;
  }

  .sideBar-title {
    font-size: 0.8rem;
    padding-top: 0;
  }

  .title-sidebar-container {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 0.3rem;
  }

  .toggle-icon {
    font-size: 1.5rem;
  }
}


@media(min-width: 601px) and (max-width: 768px) {
  .sideBar {
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: transform 0.3s ease-in-out;

  }
  .sideBar-title {
    font-size: 1rem;
    font-weight: 400;
    padding-top: 0rem;
  }

  .toggle-sidebar {
    display: block;
  }

  .title-sidebar-container {
    gap: 1rem;
    padding: 0.5rem 0rem 1rem 0rem;
  }

  .toggle-sidebar.open {
    top: 70px;
    left: 21%;

  }
}

@media (min-width: 992px) {
  .toggle-sidebar {
    display: flex;
  }

  .sideBar {
    display: block;
  }

  .sideBar-title {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 0;
  }
  
  .toggle-sidebar.open { 
    top: 70px;
    left: 21%;

  }
}



