.searchContainer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: 100%;
  }
  
  .searchBarWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.093);
    border-radius: 25px;
    transition: all 500ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    will-change: transform;
  }
  
  .searchBarWrapper:hover {
    background-color: var(--secondary-background-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .searchBarWrapper:active {
    background-color: var(--button-hover-color);
    box-shadow: none;
    transform: translateY(0);
  }
  
  .searchBarWrapper input {
    padding: 0.75rem 1rem;
    border: 2px solid #444;
    border-radius: 25px;
    background-color: var(--searchBar-color);
    color: var(--primary-text-color);
    font-size: var(--normal-text-size);
    width: 100%;
    max-width: 450px;
    transition: all 0.3s ease;
  }
  
  .searchBarWrapper input:focus {
    outline: none;
    border-color: var(--highlight-text-color);
    background-color: #444;
  }
  
  .searchBarWrapper input::placeholder {
    color: var(--secondary-text-color);
  }
  
  .searchButton {
    padding: 0.75rem 1.5rem;
    background-color: var(--button-hover-color);
    border: none;
    color: var(--primary-text-color);
    font-size: var(--normal-text-size);
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 8px;
  }
  
  .searchButton:hover {
    background-color: #7e6ecf; /* Slightly darker button hover color */
  }
  
  .searchButton:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .goHome {
    font-size: var(--normal-text-size);
    color: var(--primary-text-color);
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .goHome:hover {
    color: var(--highlight-text-color);
    text-decoration: underline;
  }