

.sideBar{
    grid-column: 1;
    grid-row: 2/3;
    justify-content: center;
    background-image:url('C:\Users\Sofjim\Desktop\pandemicsound\v2\Pandemic-Sound-\public\assets\sideBar-bakcground.png') ;
    background-size: cover;
    background-position: center center;
    border-radius: 0px 20px 0px 0px;
    overflow: auto; 
  
  }
  .sideBar-title{
    font-size: var(--subtitle-size);
    justify-self: center;
    padding:2rem;
  }