.playlist-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:90%;
  padding-top: 4rem;
}

.display-playlist-title {

  font-size: var(--subtitle-size);
  font-weight: 400;
  text-align: center;
  color: var(--highlight-text-color);
}
.playlist-title-input {
  font-size: var(--subtitle-size);

}
.display-playlist-img {
  width: 20%;
  height: auto;
  display: block; 
  margin-top: 20px; 
  margin-left: auto;
  margin-right: auto; 

}

.songs-total{
  font-size: var(--subtitle-size);
  text-align: center;
  font-weight: 500;
  padding: 2rem 2rem;

}

.edit-playlist-btn {
  background-image: url("../../../../../public/assets/edit-btn.png");
  background-size: contain;
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 2rem;
  border-style: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit-playlist-btn:hover {
  background-image: url("../../../../../public/assets/edit-btn-purple.png");
  background-size: contain;
  width: 2rem;
  height: 2rem;
  margin-left: 2rem;
  border-style: none;
  transform: scale(1.2);
}

.dropdown-item:last-child {
  border-bottom: none;
}
.dropdown {
  right: 0;
}


@media (max-width: 600px) {
    .display-playlist-img {
        width: 30%;
        height: auto;
        padding-bottom: 1.3rem;
        align-self: center;
 
      }
      .track img {
        width: 10%;
        height: auto;
      }

      .display-playlist-title {
        font-size: 1.2rem;
        padding: 0rem ;
        font-weight: 400;
        letter-spacing: 2px;
      }
      .songs-total{
        font-size: var(--normal-text-size);
        text-align: center;
        font-weight: 500;
        padding: 1rem 1rem;
      
      }

      .edit-playlist-btn {
       
        width: 1.6rem;
        height: 1.6rem;
        margin-left: 1rem;
      
      }
   
   }
   
   @media (min-width: 768px) {
    .songs-total{
      font-size: 1.5rem;
      text-align: center;
      font-weight: 500;
      padding: 1.2rem 1rem;
    
    }
    .display-playlist-img {
      width: 40%;
      height: auto;
      padding-bottom: 1.3rem;

    }
   

   
   }
