.add-playlist-button {
    width: 3.5rem; 
    height: 3.5rem; 
    background-color: var(--secondary-background-color); 
    color: var(--primary-text-color);  
    font-size: 3rem;  
    font-weight: 400;
    border: none;
    border-radius: 50%;  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.284);  
    transition: background-color 0.3s ease, transform 0.2s ease;  
  }
  
  .add-playlist-button:hover {
    background-color: var(--button-hover-color);  
    transform: scale(1.1); 
  }
  
  .add-playlist-button:focus {
    outline: none;  
  }
  

@media (max-width: 600px) {

    .add-playlist-button {
        width: 2rem; 
        height: 2rem; 
        font-size: 2rem;  
       
      }

      .loading-text{
        font-size: 1rem;  
      }

      .created-text{
        font-size: 1rem; 
      }

  }
  
