.Nav{
    grid-column: 1/3;
    grid-row: 1/2;
    display:grid;
    grid-template-columns: 2fr 5.5fr 0.5fr;
    align-items: center;
  
  }
.logo{
  font-family: var(--logo-font);
  font-size: 1.5rem;
  margin-left: 1rem;
}

.profile-container {
  position: absolute;
  right: 40px; 
  top: 10px; 
}

.profile-image {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  object-fit: cover; 
  border: 2px solid #fff; 
  cursor: pointer; 
  transition: transform 0.3s ease-in-out;

}

.profile-image:hover {
  transform: scale(1.15) rotate(5deg); 
  border-color: #B09FFF; 
  box-shadow: 0 0 12px #488bde;
  cursor: pointer;
}
