.tracks-container{
  display:flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.single-Track-Container {
    
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.093);
    transition: all 500ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    will-change: transform;
  }
  
.single-Track-Container:hover {
    color: var(--primary-text-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    background-color:#333333;
  }
  
  .single-Track-Container:active {
    background-color: var(--button-hover-color);
    box-shadow: none;
    transform: translateY(0);
  }
  
  .single-Track-Container:focus {
    border-color: rgba(0, 0, 0, 0.985);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: var(--secondary-text-color);
  }
  
  .track-Info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    transition: all 0.3s ease;
}
  
  .track-Image {
    width: 4rem;
    height: 4rem;
    border-radius: 4px;
    transition: width 0.3s ease, height 0.3s ease;
  }
  .track-Details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
    flex: 1;
    transition: all 0.3s ease;
}

.track-Info-Container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.track-Name {
    font-weight: bold;
    font-size: var(--normal-text-size);
    color: var(--primary-text-color);
    text-decoration: none;
    margin: 0;
    transition: font-size 0.3s ease; 
}
  .single-Track-Container  a{
    text-decoration: none; 
    color: var(--primary-text-color); 
  }
  .track-Duration {
    margin-left: auto;
    min-width: 300px;
    text-align: right;
    transition: min-width 0.3s ease, text-align 0.3s ease;
}

.delete-track-container {
  position: relative; 
}

.delete-track-button {
  position: absolute; 
  top: -10px; 
  right: -10px;
  background-color: #000000;
  color: white;
  border: 1px solid white;
  border-radius: 50px; 
  padding: 0.2rem 1rem; 
  font-size: 0.8rem;
  font-weight: bold;
  cursor:pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px; 
  align-items: center;
  justify-content: center;

}


.delete-track-button:hover {
  background-color: #7d6cd7; 
  transform: scale(1.05); 
}


.delete-track-button:active {
  background-color: #6a5bb9; 
  transform: scale(0.95); 
}


.delete-track-button:disabled {
  background-color: #d3d3d3; 
  cursor: not-allowed;
  box-shadow: none;
}


.delete-track-button.success {
  background-color: #4caf50; 
 
}


.error-message {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}

@media (max-width: 768px) {

  .track-Info {
    gap: 1rem;
    flex-direction: row;
    transition: all 0.3s ease;
  }

  .track-Image {
    width: 3.5rem;
    height: 3.5rem;
  }

  .track-Name {
    font-size: 1rem;
  }

  .track-Duration {
    min-width: 0; 
    transition: min-width 0.3s ease;

  }

  .track-Details {
    flex-direction: row;
    gap: 0.5rem;
  }

  .delete-track-button {
   top: -10px; 
    right: -10px;
    padding: 0.2rem 1rem; 
    font-size: 0.6rem;

  
  }
}

@media (max-width: 480px) {

  .track-Info {
    flex-direction: row;
    gap: 0.5rem;
    transition: all 0.3s ease;
  }

  .track-Image {
    width: 3rem;
    height: 3rem;
    transition: width 0.3s ease, height 0.3s ease;
  }

  .track-Name {
    font-size: 0.8rem; 
    transition: font-size 0.3s ease;
  }

  .track-Artist {
    font-size: 0.7rem;
  }

  .track-Duration {
    text-align: left;
    margin-left: 2px;
    min-width: 10px;
    font-size: 0.7rem;
    transition: text-align 0.3s ease, min-width 0.3s ease; 

  }

  .single-Track-Container {
    padding: 0.8rem; 
    transition: padding 0.3s ease;
  }

  .track-Details {
    gap: 0.4rem;
    flex-direction: row;
  }

  .delete-track-button {
    top: -10px; 
     right: -10px;
     padding: 0.1rem 0.3rem; 
     font-size: 0.6rem;
     transition: padding 0.3s ease, font-size 0.3s ease;
 
   
   }
}